In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
#getting the webpage using webdriver
driver1= webdriver.Chrome('chromedriver.exe')
driver1.get('https://www.naukri.com/')

In [5]:
#getting the element to search the job title using xpath
search_job = driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input')
search_job

In [6]:
#sending the keyword to the previously selected element 
search_job.send_keys("Data Analyst")

In [8]:
#getting the element to search the job location using xpath and sending the keyword to it
search_location = driver1.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div[1]/div[5]/div/div/div/input')
search_location.send_keys("Bangalore")

In [9]:
#selecting the button by element using xpath
search_btn=driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [10]:
#extracting required details in a particular list
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

for i in driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_title.append(i.text)

for i in driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]'):
    job_location.append(i.text)

for i in driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)
    
for i in driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
    experience_required.append(i.text)

In [11]:
#creating dataframe and storing data in it
df1=pd.DataFrame({'Job Title':job_title[:10],'Job Location':job_location[:10],'Company Name':company_name[:10],'Experience Required':experience_required[:10]})
df1

,Job Title,Job Location,Company Name,Experience Required
0,Sr. Business Data Analyst,Bangalore/Bengaluru,Infometry,4-6 Yrs
1,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
2,Manager / Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
3,Senior Data Analyst(Power BI/Python),Bangalore/Bengaluru,Societe Generale,3-7 Yrs
4,Sr. Data Analyst,"Bangalore Rural, Bhopal, Indore, New Delhi, Pu...",Netlink Software,3-6 Yrs
5,Business Analyst - Data Strategy,Bangalore/Bengaluru,Capco,9-11 Yrs
6,DATA Analyst- Immediate Joining,Bangalore/Bengaluru(Cox Town),ADVISETREE CONSULTING PRIVATE LIMITED,3-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
9,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [12]:
#getting the webpage using webdriver
driver2= webdriver.Chrome('chromedriver.exe')
driver2.get('https://www.naukri.com/')

In [13]:
#getting the element to search the job title using xpath
search_job = driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input')
search_job

In [14]:
#sending the keyword to the previously selected element 
search_job.send_keys("Data Scientist")

In [15]:
#getting the element to search the job location using xpath and sending the keyword to it
search_location = driver2.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div[1]/div[5]/div/div/div/input')
search_location.send_keys("Bangalore")

In [16]:
#selecting the button by element using xpath
search_btn=driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [17]:
#extracting required details in a particular list
job_title=[]
job_location=[]
company_name=[]

for i in driver2.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_title.append(i.text)

for i in driver2.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]'):
    job_location.append(i.text)

for i in driver2.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)

In [18]:
#creating dataframe and storing data in it
df2=pd.DataFrame({'Job Title':job_title[:10],'Job Location':job_location[:10],'Company Name':company_name[:10]})
df2

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
2,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
5,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
6,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist Lead_Tata Consultancy Services(...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",TATA CONSULTANCY SERVICES (TCS)
9,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results y

In [24]:
#getting the webpage using webdriver
driver3= webdriver.Chrome('chromedriver.exe')
driver3.get('https://www.naukri.com/')

In [25]:
#getting the element to search the job title using xpath
search_job = driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div[1]/input')
search_job

In [26]:
#sending the keyword to the previously selected element 
search_job.send_keys("Data Scientist")

In [27]:
#selecting the button by element using xpath
search_btn=driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [29]:
#applying filter as per question
job_location= driver3.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
job_location.click()

In [30]:
salary= driver3.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [31]:
#extracting required details in a particular list
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

for i in driver3.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_title.append(i.text)

for i in driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]'):
    job_location.append(i.text)

for i in driver3.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)
    
for i in driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
    experience_required.append(i.text)

In [32]:
#creating dataframe and storing data in it
df3=pd.DataFrame({'Job Title':job_title[:10],'Job Location':job_location[:10],'Company Name':company_name[:10],'Experience Required':experience_required[:10]})
df3

,Job Title,Job Location,Company Name,Experience Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida),R Systems International,7-10 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
6,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru",Big Seo Buzz,2-7 Yrs
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: Brand, Product Description, Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [33]:
#getting the webpage using webdriver
driver4= webdriver.Chrome('chromedriver.exe')
driver4.get('https://www.flipkart.com/')

In [34]:
#selecting cancel button by element using xpath to cancel login popup
search_btn=driver4.find_element_by_xpath('/html/body/div[2]/div/div/button')
search_btn.click()

In [35]:
#getting the element to search the product using xpath
search_job = driver4.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#sending the keyword to the previously selected element 
search_job.send_keys("sunglasses")

In [36]:
#selecting the button by element using xpath
search_btn=driver4.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [37]:
#extracting required urls in a particular list
import time
urls=[]

start=0
end=3
for i in range(start,end):
    time.sleep(2)
    nb=driver4.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver4.get(nb[1].get_attribute('href'))
        url=driver4.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))
        
    except:
        driver4.get(nb[0].get_attribute('href'))
        url=driver4.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))

In [38]:
#extracting required details in a particular list
ptitle=[]
des=[]
price=[]
discount=[]

for i in urls:
    driver4.get(i)
    for title_tag in driver4.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        ptitle.append(title_tag.text)
    
    for des_tag in driver4.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        des.append(des_tag.text)
    
    for price_tag in driver4.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(price_tag.text)
    
    for dis_tag in driver4.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        discount.append(dis_tag.text)

In [39]:
#creating dataframe and storing data in it
df4=pd.DataFrame({'Product Title':ptitle[:100],'Description':des[:100],'Price':price[:100],'Discount':discount[:100]})
df4

,Product Title,Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹949,52% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949,52% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹359,55% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹849,57% off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639,20% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹849,57% off
98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
99,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹281,81% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

You will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [69]:
#getting the webpage using webdriver
driver5= webdriver.Chrome('chromedriver.exe')
driver5.get('https://www.flipkart.com/')

In [70]:
#selecting cancel button by element using xpath to cancel login popup
search_btn=driver5.find_element_by_xpath('/html/body/div[2]/div/div/button')
search_btn.click()

In [71]:
#getting the element to search the product using xpath
search_job = driver5.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#sending the keyword to the previously selected element 
search_job.send_keys("iphone 11")

In [72]:
#selecting the button by element using xpath
search_btn=driver5.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [73]:
#selecting the first product by element using xpath
select_1=driver5.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a')
url=select_1.get_attribute('href')
driver5.get(url)

In [76]:
#selecting button by element using xpath to view all the reviews
search_btn=driver5.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a')
search_btn.click()

In [77]:
#extracting required urls in a particular list
urls=[]

start=0
end=10
for i in range(start,end):
    time.sleep(2)
    nb=driver5.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver5.get(nb[1].get_attribute('href'))
        url=driver5.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))
        
    except:
        driver5.get(nb[0].get_attribute('href'))
        url=driver5.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))

In [78]:
rating=[]
review_summary=[]
full_review=[]

for i in urls:
    driver5.get(i)
    for rt in driver5.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]'):
        try:
            rating.append(rt.text)
        except:
            rating.append("NA")
    
    for rs in driver5.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        try:
            review_summary.append(rs.text)
        except:
            review_summary.append("NA")
    
    for fr in driver5.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div'):
        try:
            full_review.append(fr.text)
        except:
            full_review.append("NA")

In [79]:
#creating dataframe and storing data in it
df5=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df5

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Excellent,Just go for it.\nThis phone is really amazing....
96,5,Best in the market!,Don’t expect much from front camera… especiall...
97,5,Super!,This is my first ever iPhone.\nAnd I truly don...
98,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
99,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [80]:
#getting the webpage using webdriver
driver6= webdriver.Chrome('chromedriver.exe')
driver6.get('https://www.flipkart.com')

In [81]:
#selecting cancel button by element using xpath to cancel login popup
search_btn=driver6.find_element_by_xpath('/html/body/div[2]/div/div/button')
search_btn.click()

In [82]:
#getting the element to search the product using xpath
search_job = driver6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#sending the keyword to the previously selected element 
search_job.send_keys("sneakers")

In [83]:
#selecting the button by element using xpath
search_btn=driver6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [84]:
#extracting required urls in a particular list

urls=[]

start=0
end=3
for i in range(start,end):
    time.sleep(2)
    nb=driver6.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver6.get(nb[1].get_attribute('href'))
        url=driver6.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))
        
    except:
        driver6.get(nb[0].get_attribute('href'))
        url=driver6.find_element_by_xpath("//a[@class='_1LKTO3']")
        urls.append(url.get_attribute('href'))

In [85]:
#extracting required details in a particular list
ptitle=[]
des=[]
price=[]
discount=[]

for i in urls:
    driver6.get(i)
    for title_tag in driver6.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        try:
            ptitle.append(title_tag.text)
        except:
            ptitle.append("NA")
    
    for des_tag in driver6.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
        try:
            des.append(des_tag.text)
        except:
            des.append("NA")
    
    for price_tag in driver6.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        try:
            price.append(price_tag.text)
        except:
            price.append("NA")
    
    for dis_tag in driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        try:
            discount.append(dis_tag.text)
        except:
            discount.append("NA")

In [86]:
#creating dataframe and storing data in it
df6=pd.DataFrame({'Product Title':ptitle[:100],'Description':des[:100],'Price':price[:100],'Discount':discount[:100]})
df6

,Product Title,Description,Price,Discount
0,Shozie,Stylish Walking Partywear Sneakers Casual Shoe...,₹559,44% off
1,DXMODA,Stylish And Trendy Casual Sneakers For Men Sne...,₹699,30% off
2,Magnolia,Sneakers For Men,₹374,62% off
3,Magnolia,Sneakers For Men,₹399,60% off
4,PUMA,Rebound JOY Sneakers For Men,"₹3,134",43% off
...,...,...,...,...
95,MOZAFIA,Canvas Casuals Shoes Sneakers For Men,₹799,60% off
96,ROCKFIELD,Sneakers For Men,₹509,66% off
97,Kzaara,Sneakers For Men,₹259,74% off
98,Roadster,Sneakers For Men,₹959,69% off
99,TUNER,Sneakers For Men,₹399,60% off

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [87]:
#getting the webpage using webdriver
driver7= webdriver.Chrome('chromedriver.exe')
driver7.get('https://www.myntra.com/shoes')

In [88]:
#selecting checkbox using xpath
check_color = driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
check_color.click()

In [89]:
check_price = driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
check_price.click()

In [90]:
#extracting required urls in a particular list
urls=[]

start=0
end=4
for i in range(start,end):
    time.sleep(2)
    nb=driver7.find_elements_by_xpath("//li[@class='pagination-next']/a")
    url=driver7.find_element_by_xpath("//li[@class='pagination-active']/a")
    urls.append(url.get_attribute('href'))
    driver7.get(nb[0].get_attribute('href'))

In [91]:
#extracting required details in a particular list
ptitle=[]
des=[]
price=[]

for i in urls:
    driver7.get(i)
    for title_tag in driver7.find_elements_by_xpath('//h3[@class="product-brand"]'):
        try:
            ptitle.append(title_tag.text)
        except:
            ptitle.append("NA")
    
    for des_tag in driver7.find_elements_by_xpath('//h4[@class="product-product"]'):
        try:
            des.append(des_tag.text)
        except:
            des.append("NA")
    
    for price_tag in driver7.find_elements_by_xpath('//div[@class="product-price"]/span[1]'):
        try:
            price.append(price_tag.find_element_by_class_name("product-discountedPrice").text.split()[1])
        except:
            price.append(price_tag.text.split()[1])

In [92]:
#creating dataframe and storing data in it
df7=pd.DataFrame({'Product Title':ptitle[:100],'Description':des[:100],'Price':price[:100]})
df7

       Product Title                         Description  Price
0               Nike      Men ZOOM WINFLO8 Running Shoes   7880
1               Nike          Men Colourblocked Sneakers  10795
2               Puma       Electrify Nitro Running Shoes   9999
3   ADIDAS Originals           Men Solid Oznova Sneakers  11999
4       Hush Puppies   Men Solid Leather Formal Slip-Ons   7649
..               ...                                 ...    ...
95          DAVINCHI         Men Formal Leather Slip-Ons   8990
96           Saint G  Leather Block Sandals with Buckles   8505
97          Skechers      Women ARCH FIT Slip-On Sneaker   7499
98              Geox               Leather Block Sandals   7693
99         J.FONTINI     Men Solid Leather Formal Derbys   6990

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [101]:
#getting the webpage using webdriver
driver8= webdriver.Chrome('chromedriver.exe')
driver8.get('https://www.amazon.in/')

In [102]:
#getting the element to search the product using xpath
search_job = driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
#sending the keyword to the previously selected element 
search_job.send_keys("Laptop")

In [103]:
#selecting the button by element using xpath
search_btn=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [104]:
#selecting the button by element using xpath
search_btn=driver8.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
search_btn.click()

In [113]:
#extracting the urls in a list
urls=[]
num=0
for i in driver8.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]'):
    urls.append(i.get_attribute('href'))
    num=num+1
    if num==10:
        break

In [140]:
# extracting the data in a list
ptitle=[]
price=[]
rating=[]

for i in urls:
    driver8.get(i)
    try:
        title_tag = driver8.find_element_by_xpath('//*[@id="productTitle"]')
        ptitle.append(title_tag.text)
    except:
        ptitle.append("NA")
    try:
        price_tag = driver8.find_element_by_xpath('//*[@id="corePriceDisplay_desktop_feature_div"]/div[1]/span[2]/span[2]/span[2]')
        price.append(price_tag.text)
    except:
        price.append("NA")
    try:
        rating_tag = driver8.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]/span')
        rating.append(rating_tag.text.split()[0])
    except:
        rating.append("NA")

In [141]:
len(price)

10

In [142]:
#creating dataframe and storing data in it
df8=pd.DataFrame({'Product Title':ptitle,'Price':price,'Rating':rating})
df8

                                       Product Title   Price Rating
0  LG Gram Intel Evo 11th Gen Core i7 17"(43cm)Ul...  94,999    4.5
1  Samsung Galaxy Book2 Intel 12th Gen core i7 39...  79,490    3.6
2  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...      NA    3.9
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  55,990    3.5
4  Samsung Galaxy Book2 Intel 12th Gen core i7 39...  79,490    3.6
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  87,990    4.1
6  HP Pavilion 11th Gen Intel Core i7 15.6 inches...  86,450    4.3
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  80,990    4.2
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...  84,990    4.6
9  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  89,990    4.2

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [143]:
#getting the webpage using webdriver
driver9= webdriver.Chrome('chromedriver.exe')
driver9.get('https://www.ambitionbox.com/')

In [145]:
#selecting the button by element using xpath
select_job=driver9.find_element_by_xpath('//*[@id="headerWrapper"]/nav[2]/div/ul/li[5]/a')
select_job.click()

In [146]:
#sending key as data scientist 
search_job=driver9.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')
search_job.send_keys("Data Scientist")

In [150]:
#selecting the button by element using xpath
get_job=driver9.find_element_by_xpath('//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button')
get_job.click()

In [151]:
select_location=driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
select_location.click()

In [152]:
search_location=driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [153]:
get_location=driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
get_location.click()

In [154]:
company=[]
period=[]
rating=[]

for i in driver9.find_elements_by_xpath('//p[@class="company body-medium"]'):
    company.append(i.text)

for i in driver9.find_elements_by_xpath('//div[@class="other-info"]/span[1]'):
    period.append(i.text.split()[0])
    
for i in driver9.find_elements_by_xpath('//div[@class="info"]/div/div/a[1]/span'):
    rating.append(i.text)

In [155]:
#creating dataframe and storing data in it
df9=pd.DataFrame({'Company Name':company,'No. of days ago when job was posted':period,'Rating':rating})
df9

,Company Name,No. of days ago when job was posted,Rating
0,CBRE South Asia Pvt Ltd,11d,4.3
1,GENPACT India Private Limited,5d,4.0
2,Genpact,6d,4.0
3,Ericsson India Global Services Pvt. Ltd.,21d,4.3
4,GENPACT India Private Limited,14d,4.0
5,Optum Global Solutions (India) Private Limited,19d,4.1
6,Optum Global Solutions (India) Private Limited,19d,4.1
7,Ericsson India Global Services Pvt. Ltd.,1mon,4.3
8,SOPRA STERIA INDIA LIMITED,21d,4.2
9,EXL Services.com ( I ) Pvt. Ltd.,20d,3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [156]:
#getting the webpage using webdriver
driver10= webdriver.Chrome('chromedriver.exe')
driver10.get('https://www.ambitionbox.com/')

In [158]:
#selecting the button by element using xpath
select_sal=driver10.find_element_by_xpath('//*[@id="headerWrapper"]/nav[2]/div/ul/li[3]/a')
select_sal.click()

In [159]:
#selecting the button by element using xpath
select_sal=driver10.find_element_by_xpath('//*[@id="subTab2"]/ul/li[1]/div/div[2]/a')
select_sal.click()

In [160]:
#sending key as data scientist 
search_sal=driver10.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
search_sal.send_keys("Data Scientist")

In [161]:
get_sal=driver10.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
get_sal.click()

In [172]:
company=[]
exp=[]
nsal=[]
minsal=[]
avgsal=[]
maxsal=[]

main_tag = driver10.find_element_by_xpath('//div[@class="results-body"]')

for i in main_tag.find_elements_by_xpath('//div[@class="company-info"]/a'):
    company.append(i.text.split('\n')[0])
for i in main_tag.find_elements_by_xpath('//div[@class="sbold-list-header"]'):
    exp.append(i.text.split()[0])
for i in main_tag.find_elements_by_xpath('//div[@class="company-info"]/div[1]/span'):
    nsal.append(i.text.split()[2])
for i in main_tag.find_elements_by_xpath('//div[@class="salary-values"]/div[1]'):
    minsal.append(i.text)
for i in main_tag.find_elements_by_xpath('//p[@class="averageCtc"]'):
    avgsal.append(i.text)
for i in main_tag.find_elements_by_xpath('//div[@class="salary-values"]/div[2]'):
    maxsal.append(i.text)

In [173]:
#creating dataframe and storing data in it
df10=pd.DataFrame({'Company Name':company,'No. of Salaries':nsal,'Experience ':exp,'Minimum Salary':minsal,'Average Salary':avgsal,'Maximum Salary':maxsal})
df10

,Company Name,No. of Salaries,Experience,Minimum Salary,Average Salary,Maximum Salary
0,Walmart,22,3-4,₹ 25.0L,₹ 31.7L,₹ 45.0L
1,Ab Inbev,53,2-4,₹ 15.0L,₹ 19.7L,₹ 25.5L
2,Optum,48,2-4,₹ 11.0L,₹ 16.5L,₹ 22.6L
3,ZS,33,1-2,₹ 11.0L,₹ 15.7L,₹ 22.0L
4,Fractal Analytics,109,2-4,₹ 9.0L,₹ 15.2L,₹ 23.0L
5,Tiger Analytics,65,2-4,₹ 9.0L,₹ 14.7L,₹ 20.0L
6,Legato Health Technologies,11,4,₹ 11.0L,₹ 14.5L,₹ 20.0L
7,Tredence,12,3,₹ 8.8L,₹ 14.1L,₹ 17.5L
8,UnitedHealth,91,2-4,₹ 8.0L,₹ 13.6L,₹ 20.5L
9,Ford Motor,21,3-4,₹ 10.0L,₹ 13.5L,₹ 18.0L